.btn, input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#account-info {
  display: none;
}

h4 {
  padding-bottom: 20px;
}

.act-bg {
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}
